ul, h1, h2, h3, p, h4, input, button, select, a {
    list-style: none;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}
* {
    box-sizing: border-box;
}


$laptop: '768px';
$desktop: '1024px';
$background: rgb(245, 242, 242);
$white: rgb(243, 240, 240);
$gold: rgb(207, 161, 45);
$green: rgb(13, 189, 121);
$black: #4a4a4a;
$gray: #969696;

