ul, h1, h2, h3, p, h4, input, button {
    list-style: none;
    margin: 0;
    padding: 0;
}


$laptop: '768px';
$desktop: '1024px';
$background: rgb(239, 219, 219);
$white: rgb(216, 213, 213);
$gold: rgb(207, 161, 45);
$green: rgb(52, 196, 52);


